<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.thecoolguy.rumaan.fileio">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".ui.FileioApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:launchMode="singleTop"
      android:name=".ui.activities.MainActivity"
      android:screenOrientation="portrait"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>

        <category android:name="android.intent.category.DEFAULT"/>

        <data android:mimeType="*/*"/>
      </intent-filter>
      <!-- Separate intent filters -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <!-- App shortcuts -->
      <!--<meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts"/>-->
    </activity>


    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts"/>

    <activity
      android:name=".ui.activities.UploadHistoryActivity"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/AppTheme"/>
    <activity
      android:name=".ui.activities.ErrorActivity"
      android:process=":error_activity"
      android:screenOrientation="portrait"
      android:theme="@style/NoActionBarTheme">
      <intent-filter>
        <action android:name="cat.ereza.customactivityoncrash.ERROR"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activities.AboutActivity"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/NoActionBarTheme"/>

  </application>

</manifest>